<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.infinitum.monique.mapper.BoardMapper">
    <select id="listAll" resultType="com.infinitum.monique.domain.BoardVo">
        SELECT *
        FROM board
        ORDER BY regi_date desc
    </select>


    <select id="listAllbyNum" resultType="com.infinitum.monique.domain.BoardVo">
        SELECT *
        FROM board
        WHERE uuid=#{uuid}
    </select>

    <select id="view" resultType="com.infinitum.monique.domain.BoardVo">
        SELECT *
        FROM board b left join attach_file af on b.attach_uid=af.attach_uid
        WHERE b.uuid=#{uuid}
    </select>

    <select id="viewAttachFiles" resultType="com.infinitum.monique.domain.AttachFile">
        SELECT *
        FROM attach_file_summer
        WHERE uuid=#{uuid}
    </select>

    <select id="viewAttachFileByuid" resultType="com.infinitum.monique.domain.AttachFile">
        SELECT *
        FROM attach_file_summer
        WHERE attach_uid=#{attachUid}
    </select>

<!--    <select id="viewSummer" resultType="com.infinitum.monique.domain.BoardVo">-->
<!--        SELECT *-->
<!--        FROM summerboard b left join attach_file_summer af on b.uuid = af.uuid-->
<!--        WHERE b.uuid=#{uuid}-->
<!--    </select>-->

    <select id="viewSummer" resultType="com.infinitum.monique.domain.BoardVo">
        SELECT *
        FROM summerboard
        WHERE uuid=#{uuid}
    </select>

    <insert id="boardWrite" parameterType="com.infinitum.monique.domain.BoardVo" useGeneratedKeys="true" keyProperty="uuid">
        INSERT INTO board (name, subject, content, regi_date, edit_date, inuse, attach_uid, file)
        VALUES(#{name},#{subject},#{content},NOW(),NOW(),1, #{attachUid}, #{file})
    </insert>

    <update id="updateBoard" parameterType="com.infinitum.monique.domain.BoardVo">
        UPDATE board
        SET subject=#{subject}, content=#{content}, edit_date=NOW(), file=#{file}, attach_uid=#{attachUid}
        WHERE uuid=#{uuid}
    </update>

    <update id="updateBoardAttach" parameterType="com.infinitum.monique.domain.BoardVo">
        UPDATE board
        SET edit_date=#{editDate}, file=#{file}, attach_uid=#{attachUid}
        WHERE uuid=#{uuid}
    </update>

    <!-- 첨부파일 테이블 추가-->
    <insert id="insertAttachFile" parameterType="com.infinitum.monique.domain.AttachFile">
        INSERT INTO attach_file (file_name,file_real_name,file_size,file_path,file_extension,file_content_type,file_regi_date,file_edit_date)
        VALUES(#{fileName},#{fileRealName},#{fileSize},#{filePath},#{fileExtension},#{fileContentType},NOW(),NOW())

        <selectKey resultType="int" keyProperty="attachUid" order="AFTER"><!--auto increment 사용해 생성된 uid 가져올때..하지만 안좋은 방법! before로 다음 시퀀스 가져오는것으로 바꿔야함-->
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <delete id="deleteAttachFile" parameterType="com.infinitum.monique.domain.AttachFile">
        DELETE FROM attach_file
        WHERE attach_uid=#{attachUid}
    </delete>

    <insert id="boardSummerWrite" parameterType="com.infinitum.monique.domain.BoardVo" useGeneratedKeys="true" keyProperty="uuid">
        INSERT INTO summerboard (name, subject, content, regi_date, edit_date, inuse)
        VALUES(#{name},#{subject},#{content},NOW(),NOW(),1)
    </insert>

    <!-- 첨부파일 테이블 추가 썸머-->
    <insert id="insertSummerAttachFile" parameterType="com.infinitum.monique.domain.AttachFile" useGeneratedKeys="true" keyProperty="attachUid">
        INSERT INTO attach_file_summer (uuid, file_name,file_real_name,file_size,file_path,file_extension,file_content_type,file_regi_date,file_edit_date)
        VALUES(#{uuid}, #{fileName},#{fileRealName},#{fileSize},#{filePath},#{fileExtension},#{fileContentType},NOW(),NOW())
    </insert>

    <select id="listAllSummer" resultType="com.infinitum.monique.domain.BoardVo">
        SELECT *
        FROM summerboard
        ORDER BY regi_date desc
    </select>

    <delete id="deleteSummerAttachFile" parameterType="com.infinitum.monique.domain.AttachFile">
        DELETE FROM attach_file_summer
        WHERE attach_uid=#{attachUid}
    </delete>

    <update id="updateBoardSummer" parameterType="com.infinitum.monique.domain.BoardVo">
        UPDATE summerboard
        SET subject=#{subject}, content=#{content}, edit_date=NOW()
        WHERE uuid=#{uuid}
    </update>
</mapper>